<html ng-app="qDemo">
  <head>
    <title>Learning AngularJS</title>
    <link rel="icon" href="../favicon.ico">
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../styles/samples.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Sample</a>
        </div>
      </div>
    </nav>

    <div class="container">

      <!-- Our Code goes here -->
      <section class="sample" ng-controller="asyncController as vm">
        {{vm.statusMessage}}

        <button ng-click="vm.resolve()" class="btn-primary">Resolve</button>
        <button ng-click="vm.reject()" class="btn-primary">Reject</button>
      </section>
    </div>



    <!-- AngularJS -->
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="./async.module.js"></script>
    <script src="./async.controller.js"></script>
    <script src="./async.service.js"></script>
  </body>
</html>
