<html ng-app="directivesDemo">
  <head>
    <title>Learning AngularJS</title>
    <link rel="icon" href="../favicon.ico">
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../styles/samples.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Sample</a>
        </div>
      </div>
    </nav>

    <div class="container">

      <!-- Our Code goes here -->
      <section class="sample" ng-controller="directivesController as vm">
        <tt-shared-scope></tt-shared-scope>

        <tt-isolated-scope
          message="{{vm.message}}"
          age="vm.age"
          greet="vm.greet(vm.age)"
          ></tt-isolated-scope>
        <input ng-model="vm.age">

        <tt-controller></tt-controller>

        <hr>

        <section ng-controller="travellerController as ctrl">

          <tt-toolbar>
            <tt-traveller ng-repeat="traveller in ctrl.travellers" traveller="traveller">
            </tt-traveller>
          </tt-toolbar>

        </section>
        
      </section>



    </div>



    <!-- AngularJS -->
    <script src="../../bower_components/angular/angular.js"></script>

    <script src="./directives.module.js"></script>
    <script src="./directives.controller.js"></script>

    <script src="./shared-scope/directive.shared-scope.js"></script>

    <script src="./isolated-scope/directive.js"></script>

    <script src="./using-a-controller/ttDirective.controller.js"></script>
    <script src="./using-a-controller/directive.js"></script>

    <!-- Translusion sample -->
    <script src="./transclusion/traveller.controller.js" charset="utf-8"></script>
    <script src="./transclusion/ttToolbar.direcive.js" charset="utf-8"></script>
    <script src="./transclusion/ttTraveller.directive.js" charset="utf-8"></script>

  </body>
</html>
