<html ng-app="directives">
  <head>
    <title>Learning AngularJS</title>
    <link rel="icon" href="../../favicon.ico">
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../styles/samples.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Sample</a>
        </div>
      </div>
    </nav>

    <div class="container">

      <!-- Our Code goes here -->
      <section class="sample" ng-controller="DirectivesController as ctrl">

        <table class="table table-striped">
          <tr>
            <th><a href="" ng-click="reverse=!reverse">Name</a></th>
            <th>Country</th>
            <th>Stars</th>
            <th>Review</th>
          </tr>
          <tr ng-repeat="trip in ctrl.trips
                | orderBy:'name':reverse">
            <td>{{ trip.name }}</td>
            <td>{{ trip.country }}</td>
            <td>{{ trip.stars }}</td>
            <td>{{ trip.reviewCount }}</td>
          </tr>
        </table>

      </section>

    </div>



    <!-- AngularJS -->
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="./common.directives.controller.js"></script>
    <script src="./trainee.factory.js"></script>
    <script src="./trainee.service.js"></script>
  </body>
</html>
